/*wildcard quand ma box fait 100px, c'est quelle fait 100 peut import le padding et margin*/
* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

a {
    
    /*sinon navigateur soulignent et autre couleur*/
    text-decoration: none;
    color: #000000;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

h1, h2, h3, p {
    font-weight: 700;
}

/*navigation menu*/
.header__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
    /*reduction ecran mise a la ligne pour les tout petits ecrans*/
}
.headernav__logo {
   display: flex;
    width: 5%;
}
.link{
  display: flex;  
  justify-content: space-between;
  gap: 5em;
}
 
.nav__link:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
/*search-bar*/

.search__title {
   padding: 1em 0em 0em 0em;
    font-style: normal;
    color: #000000;
}

.search__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
/*PARENT*/
.search-bar__form {
    display: flex;
    padding-top: 1em;
   
}
/*ENFANTS*/
/*icon*/
.form__label{
border: 1px solid lightgrey;
padding: 14px 10px 10px 14px;
background-color: lightgray;
border-radius: 10px 0px 0px 10px;
}
/*placeholder*/
.form__input{
    color: black;
    border: 2px gray;
    font-weight: bold;
    font-size: 18px;
    padding-right: 2em;
}
/*search*/
.form__button{
    display: flex;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
}
/*SPAN*/
.form__button--desktop{
    display: flex;
    align-items: center;
    padding: 1em;
    color: white;
    font-size: 16px;
}
.form__button--mobile{
   
}

/*FILTERS*/

.filters__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    padding-top: 2em;
    flex-wrap: wrap;
}

.filters__icon{
    color: #0065FC;
    padding-left: 1em;
}
/*attention span c inline donc pas hauteur*/
.filters span{
    display: inline-block;
   font-weight: bold; 
   padding: 10px; 
}
.filters{
    border: 1px solid lightgrey; 
    border-radius: 30px;
}
.filters:hover {
    background-color: #DEEBFF;
}
/*INFO*/

 .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

 }   
.info__text{
    font-weight: normal;
}
.info__icon {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    color: #0065FC;
}

/*SECTION HEBERGEMENTS*/

/*conteneur flex hebergements width: 880px; height: 626px;*/

.accommodation__list {
    display: flex;
    background-color: #F2F2F2;
    flex-basis: 60%;
}
.accommodation__city{
display: flex;
flex-wrap: wrap;
justify-content:flex-start;
}
/*ARTICLES CARDS*/
.accommodation__card {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
  

}

.card__img {
    display: inline-block;
    justify-content: flex-start;
    border-radius: 20px 20px 0px 0px;
    width: 150px;
    height: 222px;
}


.card__description {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
}

.card__title {
    display: flex;
    justify-content: center;
    align-items: center;
   font-weight: bold;
   font-size: 16px;
}

.blue__star {
    color: #0065FC;
}
.black__star{
    color: grey;
}
.blue__star .black__star{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus {
   font-weight: bold;
}

/*  SECTION POPULAR ASIDE*/
/*conteneur flex*/
.popular__list {
   
    display: block;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;

}

.popular__title {
    padding-left: 10px;
}

.fa-solid.fa-chart-line {
    padding-left: 120px;
    color: #0065FC;

}

.card__img {
    width: 137px;
    height: 144px;
    margin-left: 30px;
}

/*ACTIVITES*/

.activities {

    display: flex;
    justify-content: flex-start;

}

.activities__title {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;

}

.card__img {
    display: flex;
    width: 302px;
    height: 444px;
    padding-top: 70px;

}
/*FOOTER*/
/*footer contenair*/
.footer{
    display: flex;
    background-color: #DEEBFF;
}
.footer__items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1em;
    padding-left: 12em;
    gap: 1em;
   
    
}
.footer__title{
    font-size: 14px;
    gap: 3em;
}
.footer__text{
font-size: 12px;
}