
    a{ color: inherit; /*sinon navigateur soulignent et autre couleur*/
    }
    /*wildcard quand ma box fait 100px, c'est quelle fait 100 peut import le padding et margin*/
    *{ box-sizing: border-box;
       font-family: Raleway, sans-serif;}

/*navigation menu*/
nav {
display: flex;
align-items: center; /*pour mettre mem hauteur*/
justify-content: flex-end;
flex-wrap: wrap; /*reduction ecran mise a la ligne pour les tout petits ecrans*/
}
nav a{
    padding: 2em;
}
#logo{
  
    margin-right: auto;
    padding: 0 2em; /*mettre 2 chiffres le1er c ht bas le 2eme c gauche drte*/
    
}
.linknav {
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.linknav:hover{
border-top: 3px solid #0065FC;
color:#0065FC;
}


/*search-bar*/
.search-bar__title{
position: absolute;
width: 575px;
height: 26px;
left: 55px;
top: 126px;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;
}
.search-bar__text{
position: absolute;
width: 296px;
height: 19px;
left: 55px;
top: 160px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.search-bar__form{
    display: inline-block;
    position: absolute;   
    width: 100%;
}
/*bitonio ici*/
.form__label{
    Width: 332px;
    Height:49px;
    padding: 10px 13px;
}
.fa-solidfa-location-dot{
    position: absolute;
    left: 0%;
    right: 84.94%;
    top: 0%;
    bottom: 0%;
    background-color: lightgrey;
    border: 1px solid
    border-radius: 15px 0 0 15px;
    background-color: light-grey;
}
/*marseille france*/
.form__input{
position: absolute;
left: 19.88%;
right: 35.54%;
top: 28.57%;
bottom: 28.57%;
Width: 332px;
Height: 49px;
border: 1px solid #F2F2F2;
background: #FFFFFF;
border-radius: 15px;
}
.form__button{
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 16px;
gap: 10px;
position: absolute;
width: Hug 132px;
height: 49px;
left: 341px;
top: 200px;
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;
color: white;
font-weight: bold;
}
h1, h2, h3,p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    Size: 22px;
}

h2 {
    Size: 16px;
}

h3 {
    size: 18px;
}

p {
    size: 18px;
}
