
h1, h2, h3, p{
font-family: 'Raleway', sans-serif;}

h1{
font-weight: 700;
Size: 22px;
}

h2{
    font-Weight: 700;
    Size: 16px;
}
h3{
    font-weight: 700;
    size: 18px;
}
/*body header nav*/
.listalign{
    text-align: right;
}

/*INFO SEARCH*/

/*INFO FILTERS*/ 

/*ICON*/
.filtersicon



/*INFO HEBERGEMENTS

/*INFO POPULAIRES*/

/*INFO FOOTER*/

/*INFO ACTIVITES*/
