
    a{ color: inherit; /*sinon navigateur soulignent et autre couleur*/
    }
    /*wildcard quand ma box fait 100px, c'est quelle fait 100 peut import le padding et margin*/
    *{ box-sizing: border-box;
       font-family: Raleway, sans-serif;}

    main{
        display: block;
    }
    body{
        margin: 0;
       }

/*navigation menu*/
nav {
display: flex;
align-items: center; /*pour mettre mem hauteur*/
justify-content: flex-end;
flex-wrap: wrap; /*reduction ecran mise a la ligne pour les tout petits ecrans*/
}
nav a{
    padding: 2em;
}
#logo{
  
    margin-right: auto;
    padding: 0 2em; /*mettre 2 chiffres le1er c ht bas le 2eme c gauche drte*/
    
}
.linknav {
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.linknav:hover{
border-top: 3px solid #0065FC;
color:#0065FC;
}
/*pas besoin de media querie car herb et activités se placent lun en dessous de lautre quand on reduit ecran*/

.wrap{
    padding: 0px 2.1em;
}

/*search-bar*/
.search-bar__title{
padding: 2em 0;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;
}
.search-bar__text {
margin-top: -3.5em;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.search-bar__form {
display: inline-block;
position: absolute;
}
.search-bar__i {
position: absolute;
padding:  1.15rem 1.5rem;
background-color: lightgray;
border-radius: 15px 0px 0px 15px;
}
.search-bar__input {
padding: 8px 10px 9px 110px;
border: 1px solid lightgrey;
margin-left: 45px;
margin-right: -16px;}

.search-bar__input::placeholder {
position: absolute;
font-weight: bold;
font-size: 18px;
text-align: center;
color: black;
}
.search-bar__button{
position: absolute;
color: white;
font-size: 16px;
width: 100px;
height: 36px;
padding:1px 0px 0px  12px;
border-radius: 0px 15px 15px 0px;
border: none;
background-color: #0065FC;
cursor: pointer;
}

h1, h2, h3,p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
h1 {
    Size: 22px;
}
h2 {
    Size: 16px;
}
h3, p {
    size: 18px;
}

